@import "tailwindcss";
@import "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-50: #ecfdf5;
  --color-primary-100: #d1fae5;
  --color-primary-200: #a7f3d0;
  --color-primary-300: #6ee7b7;
  --color-primary-400: #34d399;
  --color-primary-500: #10b981;
  --color-primary-600: #059669;
  --color-primary-700: #047857;
  --color-primary-800: #065f46;
  --color-primary-900: #064e3b;
  --color-primary-950: #022c22;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}